.butt {
  display: block;
  padding: 1em 1.5em;
  text-align: center;
  font-size: 2.5em;
  border: 2px solid hotpink;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color: hotpink;
  transition: ease-out 0.5s;
  box-shadow: inset 0 0 0 0 hotpink;
  }

.butt:hover {
  color: white;
  box-shadow: inset 0 -500px 0 0 #725ac1;
}

.butt:active {
  transform: scale(0.9);
}

a:link, a:visited {
  color: hotpink
  text-decoration: none;
}
